{% block content %}
    <h1>Config</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h1>
            {{ form.civil.label }}<br>
            {{ form.civil(size=32) }}<br>
        </h1>
        <h1>
            {{ form.evil.label }}<br>
            {{ form.evil(size=32) }}<br>
        </h1>
        <h1>
            {{ form.quest.label }}<br>
            {{ form.quest(size=32) }}<br>
        </h1>
        <h1>{{ form.tolerance() }} {{ form.tolerance.label }}</h1>

        <h1>
            {{ form.command.label }}<br>
            {{ form.command(size=32) }}<br>
        </h1>

        <h1>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
        </h1>

        <h1>{{ form.submit() }}</h1>
    </form>
{% endblock %}